<h1 class="text-center mt-4">Login</h1>

<div class="container mt-4">
 

  <div class="row justify-content-center">
    <div class="col-8">

      <!-- 🔵 Card Box -->
      <div class="card bg-info text-white p-4 shadow">

        <%= form_with scope: :session, url: login_path, data: { turbo: false } do |f| %>
          <!-- 📄 Email -->
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email,
                class: "form-control",
                placeholder: "Enter your email Address..." %>
          </div>

          <!-- 📄 password -->
          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password,
                class: "form-control",
                placeholder: "Enter your password..." %>
          </div>


          <!-- 🚀 Submit -->
          <div class="text-center">
            <%= f.submit "Log in", class: "btn btn-outline-light btn-lg" %>
          </div>

        <% end %>

      </div>

      <!-- 🔙 Cancel -->
      <div class="text-center mb-3">
        <%= link_to "[Cancel and return to articles]", articles_path, class: "text-decoration-none" %>
      </div>

    </div>
  </div>
</div>